:root {
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Raleway', sans-serif;
  --font-main-color: #212121;
  --font-second-color: #757575;
  --backgroud-main-color: #ffffff;
  --backgroud-second-color: #2f303a;
  --button-active-color: #2196f3;
  --button-color: #f5f4fa;
  --footer-color: #2f303a;
}

/* reset */
* {
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  border: none;
  cursor: pointer;
}
header {
  padding-top: 16px;
  padding-bottom: 16px;
}
body {
  font-family: var(--font-primary);
  color: var(--font-main-color);
  background-color: var(--backgroud-main-color);
}
footer {
  padding: 60px;
}

/* Powtarzające się elementy */
.main-background {
  background-color: var(--backgroud-main-color);
}
.footer-background {
  background-color: var(--footer-color);
}
.logo {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--button-active-color);
  padding-right: 94px;
}
.studio {
  color: var(--font-main-color);
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 46px;
}
.navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--font-main-color);
}
.navigation-link:hover,
.navigation-link:focus,
.navigation-link:active,
.contact-header:hover,
.contact-header:focus,
.contact-header:active {
  color: var(--button-active-color);
}
.contact-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--font-second-color);
  display: flex;
  gap: 50px;
}

.section {
  padding: 94px 0;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
/* Agencja-index */
.header {
  background-color: var(--backgroud-second-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.main-header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--backgroud-main-color);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.06em;
  max-width: 696px;
  margin: 0 auto;
}
.button-order {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--backgroud-main-color);
  background-color: var(--button-active-color);
  padding: 10px 41px;
  margin-top: 30px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/* lorem ipsum */
.lorem {
  padding-bottom: 0;
}
.main-site-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  display: flex;
  gap: 30px;
}
.main-site-title-description {
  font-size: 14px;

  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--font-second-color);
  margin-top: 10px;
}
.our-team {
  background-color: var(--button-color);
}
/* Czym się zajmujemy */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.main-site-images {
  margin-top: 50px;
  display: flex;
  gap: 30px;
}
.employee-name {
  font-weight: 500;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
}
.job-position {
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--font-second-color);
  margin-top: 10px;
  padding-bottom: 30px;
}
.our-team-images {
  margin-top: 50px;
  display: flex;
  gap: 30px;
}
.our-team-box {
  width: 270px;
  background-color: var(--backgroud-main-color);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14),
    0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
}
/* Portfolio */

.portfolio-header {
  border-bottom: 1px solid #ececec;
}
.portfolio-navigation {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.portfolio-menu {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--button-color);
  padding: 6px 22px;
  border-radius: 4px;
}
.portfolio-menu:hover,
.portfolio-menu:focus,
.portfolio-menu:active {
  color: var(--backgroud-main-color);
  background-color: var(--button-active-color);
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08),
    0 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.portfolio-images {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio-card {
  width: 370px;
  padding-bottom: 20px;
  background: var(--backgroud-main-color);
  border: 1px solid #eeeeee;
}
.picture-title {
  padding-top: 20px;
  padding-left: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.picture-description {
  padding-top: 4px;
  padding-left: 24px;
  color: var(--font-second-color);
  line-height: 1.88;
  letter-spacing: 0.06em;
}
/* Stopka */

.footer-studio {
  color: var(--backgroud-main-color);
}
.footer-address {
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--backgroud-main-color);
}
.footer-address .tel-email {
  color: rgba(255, 255, 255, 0.6);
}
.footer-address-list > li {
  margin-top: 9px;
}
